main.body {
    width: 100vw;
    height: 100vh;
    background-color: #272727;
}

// .content {
//     width: 100%;
//     max-width: 1400px;

//     display: flex;
//     flex-direction: column;
//     row-gap: 40px;
// }