@use '../../../styles/mixins.scss' as m;

.number-segment-input {
    width: fit-content;
    display: inline-flex;
    column-gap: 0.125rem;
    user-select: none;
}

input.value {
    @include m.empty-input;

    font-family: monospace;
    text-align: left;
    user-select: none;
    caret-color: transparent;
    cursor: default;

    &:focus {
        background-color: var(--selection-color);
        color: var(--selection-text-color);
    }

    &::selection {
        background-color: transparent;
        color: inherit;
    }
}