.compass-wrapper {
    box-sizing: border-box;

    position: absolute;
    top: var(--complex-page-padding);
    right: var(--complex-page-padding);

    border: 1px solid black;
    border-radius: 50%;

    pointer-events: none;
    user-select: none;
    overflow: hidden;
    background-color: inherit;
}