.range-input-wrapper {
    display: inline-flex;
    align-items: center;
    column-gap: 20px;
}

.input-wrapper {
    width: 100%;
    height: 25px;

    display: inline-flex;
    align-items: center;

    position: relative;
}

.range-input {
    width: calc(100% + 1.5em);
    height: 0.5em;
    margin: 0.5em -0.75em;
    box-sizing: border-box;

    display: block;
    border-radius: 0.25em;
    background-color: #e95420;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    &:disabled {
        background-color: gray;

        &::-webkit-slider-thumb,
        &::-moz-range-thumb,
        & + span.tooltip {
            background-color: #d4d4d4;
            cursor: default;
        }
    }
}

.range-input::-webkit-slider-thumb {
    width: 1.5em;
    height: 1.5em;

    cursor: pointer;
    border: 0;
    border-radius: 50%;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
}

.range-input::-moz-range-thumb {
    width: 1.5em;
    height: 1.5em;

    cursor: pointer;
    border: 0;
    border-radius: 50%;
    background-color: white;
}

span.tooltip {
    padding: 4px 8px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    cursor: pointer;
    font-size: 12px;
    border-radius: 6px;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    pointer-events: none;
}