@use '../../../styles/mixins.scss' as m;

.geographic-input-wrapper {
    @include m.input;

    display: flex;
    column-gap: 0.5rem;

    cursor: default;

    &:focus-within {
        outline: 0.0625rem solid var(--outline-color);
    }
}