:root {
    --progress: 0%;
}

.loader-box {
    display: inline-flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
}

span.loader {

    &.line {
        display: block;
        position: relative;
        height: 12px;
        width: 200px;
        border: 1px solid #fff;
        border-radius: 10px;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: var(--progress);
            background: #FF3D00;
        }
    }

    &.circle {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite;

        &::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            inset: 0px;
            border-radius: 50%;
            border: 5px solid #FFF;
            animation: prixClipFix 2s linear infinite;
        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg)
            }
        }

        @keyframes prixClipFix {
            0% {
                clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
            }

            25% {
                clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
            }

            50% {
                clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
            }

            75% {
                clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
            }

            100% {
                clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
            }
        }
    }
}

span.label {
    text-wrap: nowrap;
}