:root {
    --text-primary: black;
    --background-color: #272727;
    --menu-background-color: #1d1d1d;
    --menu-background-color-hover: #131313;
}

[data-theme='dark'] {
    --text-primary: white;
}