:root {
    --tabs-menu-height: 40px;
}

.tabs-menu {
    display: flex;
}

.tab-item {
    width: 100%;
    min-height: var(--tabs-menu-height);
    padding: 5px 10px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    background-color: #292929;
    border-bottom: 1px solid black;
    cursor: pointer;

    &:hover:not(.current):not(.disabled) {
        background-color: #1f1f1f;
    }

    &.current {
        background-color: #181818;
        border-bottom: 2px solid black;
        cursor: default;
    }

    &:first-child {
        border-top-left-radius: calc(var(--tabs-menu-height) * 0.2);
    }

    &:last-child {
        border-top-right-radius: calc(var(--tabs-menu-height) * 0.2);
    }

    &.disabled {
        color: gray;
        cursor: default;
        opacity: 80%;
    }
}