:root {
    --form-size: 40px
}

.form {
    width: var(--form-size);
    height: var(--form-size);

    position: absolute;
    top: 20px;
    right: 20px;

    background-color: rgb(14, 14, 14);
    border-radius: var(--form-size);
}